:root{
    --nav-color: yellow;
    --projects-title-color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;;
}

body{
    background-image: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/juarezbackround.jpg);
    color: white;
}

.change-background{
    transition-property: background-image;
    transition-duration: 2s;
    background-image: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/dallasbackgroundskyline.jpg);
}



/* .change-background{
    animation-name: change-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
} */


@keyframes change-background{
    /* 0%{background: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/notebookpaperbackground.jpg);} */
    0%{background: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/neil.jpg);}
    25%{background: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/dallasbackgroundskyline.jpg);}
    50%{background: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/violinbackgorund.jpg);}
    75%{background: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/juarezbackround.jpg);}
    100%{background: linear-gradient(to right, rgb(75,0,130, .8), rgba(97, 96, 96, 0.8)), url(img/neil.jpg);}
}

a{
    color: white;
    text-decoration: none;
}

#sectiontag{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    box-sizing: border-box;
    width: 50%;
    padding: 5%;
    /* border: 2px solid black; */
    margin: 1em auto;
}

.header-container{
    margin: 10% 20% 10% 20%;
    padding-bottom: 3em;
    border-bottom: 3px solid white;
    overflow: hidden;
}

.header-container h1{
    margin-bottom: 1em;
    text-align: center;
    word-spacing: 2em;

}

/* Images style */
.self{
    width: 100%;
    max-width: 10px;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;
    max-width: 375px;
    height: 280px;
    border: 2px solid white;
    border-radius: 100%;
    background-image: url(img/neil-cropped.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

nav .container{
    padding: 1em;
}

.nav-container{
    box-sizing: border-box;
    padding: 2em;
    border: 2px solid var(--nav-color);
    border-radius: 10px;
    position: sticky;
    top: 0;
    margin: 0 auto;
}

/* making navbar sticky */
nav{
    /* background: linear-gradient(to right, rgb(75,0,130), darkgrey); */
    position: sticky;
    top: 0;
    display: block;
    z-index: 1;

}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links li{
    list-style: none;
}

.nav-links li button{
    font-size: 1.1em;
    padding: .5em;
    background-color: rgb(94, 94, 94, .1);
    border: 2px solid white;
    color: white;
}

.nav-links li button:hover{
    background-color: rgb(94, 94, 94, .1);
    border: 2px solid black;
    color: white;
    box-shadow: 5px 5px 20px 5px white;
}

.nav-links li button:active{
   background-color: rgba(94, 94, 94, 0.25);
}

.container-featured{
    background-color: grey;
    background: linear-gradient(to left, rgb(83, 45, 95), rgb(138, 24, 138));
    box-sizing: border-box;
    text-align: center;
    padding: 0;/*Could be used for all subsquent containers*/
    margin: 5%;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 10px 5px 1px white;
    transition-property: background;
    transition-duration: .5s;
    overflow: hidden;
}

.container-featured h3{
    font-size: 3em;
    background-color: transparent;
    
}

.container{
    background-color: grey;
    background: linear-gradient(to left, rgb(83, 45, 95), rgb(138, 24, 138));
    box-sizing: border-box;
    text-align: center;
    padding: 5%;/*Could be used for all subsquent containers*/
    margin: 5%;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 10px 5px 1px white;
    transition-property: background;
    transition-duration: .5s;
}

.container:hover{
    box-shadow: 10px 5px 1px black;
    border: 2px solid black;
    background-color: grey;
    background: linear-gradient(to left, purple, rgb(0, 95, 139));
}



.container figure{
    background-color: rgba(37, 37, 37, 0.3);
    box-sizing: border-box;
    padding: 1%;
    margin: 10%;
    border-radius: .3em;
}

.container h3{
    font-size: 2em;
    text-transform: uppercase;
}

.container h2{
    /* padding-bottom: 0.9em; */
    font-size: 2.5em;
}

.container p{
    font-size: 1.3em;
}

.container blockquote{
    padding-bottom: 1em;
}

.container figcaption{
    font-size: 1.2;
    padding-bottom: 1em;
}

.container blockquote p{
    font-size: 1.2em;
}

/* Going to try to make this animation in artful design part */


.artful-design:hover figure{
    animation-name: showtext;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
 .artful-design figure{
    opacity: 0;
}
@keyframes showtext {
    0%{opacity: 0;}
    100%{opacity: 1;}    
}

.mylinks img{
    display: block;
    box-sizing: border-box;
    margin: 1em auto;
}

.mylinks div{
    padding: 10%;
    /* background-color: hotpink; */
}

.mylinks .flex div:hover{
    background-color: rgba(37, 37, 37, 0.2);
}

.mylinks div:nth-of-type(even) img{
    width: 25%;
    box-sizing: border-box;
}

.bio img{
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
}

/* Animation for project backgrounds */
.repolink{
    font-size: 1.5em;
    color: white;
    margin: 3% auto 0 auto;
    display: none;

}

.repolink:hover{
    border: 2px solid white;
    border-radius: 1em;
}

.project-animation:hover .repolink{
    display: inline;
}

.project-animation-featured:hover .repolink{
    display: inline;
}

.project-animation:hover{
    animation-name: zoom;
    animation-duration: 10s;  
    animation-timing-function: linear; 
    /* background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)); */
}

@keyframes zoom{
    0%{background-size: 400px;}
    100%{background-size: 800px;}
}

.project-animation-featured:hover{
    animation-name: zoom-featured;
    animation-duration: 10s;  
    animation-timing-function: linear; 
    /* background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)); */
}

@keyframes zoom-featured{
    0%{background-size: 800px;}
    100%{background-size: 1600px;}
}

/* ********************************* */


.project-display-Mad-Quick-Stats{
    background: linear-gradient(to right, rgb(29, 43, 100, .5), rgb(248, 205, 218, .5)), url(img/screenshot.png);
    box-sizing: border-box;
    padding-top: 20%;/*Had to add this to bring <h2>s down to the middle of the image*/
    color: var(--projects-title-color);
    /* background-image: url(img/tipcalculator.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 35vh;
}

/* Allows for background to be tinted while on hover */
.project-display-Mad-Quick-Stats:hover{
    background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)), url(img/screenshot.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

.project-display-tip-calculator{
    background: linear-gradient(to right, rgb(29, 43, 100, .5), rgb(248, 205, 218, .5)), url(img/tipcalculator.jpg);
    box-sizing: border-box;
    padding-top: 20%;/*Had to add this to bring <h2>s down to the middle of the image*/
    color: var(--projects-title-color);
    /* background-image: url(img/tipcalculator.jpg); */
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 280px;
}

/* Allows for background to be tinted while on hover */
.project-display-tip-calculator:hover{
    background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)), url(img/tipcalculator.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

.project-display-Weather-Dashboard{
    background: linear-gradient(to right, rgb(29, 43, 100, .5), rgb(248, 205, 218, .5)), url(img/weather\ dashboard.JPG);
    box-sizing: border-box;
    padding-top: 20%;/*Had to add this to bring <h2>s down to the middle of the image*/
    color: var(--projects-title-color);
    /* background-image: url(img/tipcalculator.jpg); */
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 280px;
}

/* Allows for background to be tinted while on hover */
.project-display-Weather-Dashboard:hover{
    background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)), url(img/weather\ dashboard.JPG);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

.project-display-Code-Test{
    background: linear-gradient(to right, rgb(29, 43, 100, .5), rgb(248, 205, 218, .5)), url(img/code-test.JPG);
    box-sizing: border-box;
    padding-top: 20%;/*Had to add this to bring <h2>s down to the middle of the image*/
    color: var(--projects-title-color);
    /* background-image: url(img/tipcalculator.jpg); */
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 280px;
}

/* Allows for background to be tinted while on hover */
.project-display-Code-Test:hover{
    background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)), url(img/code-test.JPG);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

.project-display-javascript-calculator{
    background: linear-gradient(to right, rgb(29, 43, 100, .5), rgb(248, 205, 218, .5)), url(img/calculatorjs.JPG);
    box-sizing: border-box;
    padding-top: 20%;/*Had to add this to bring <h2>s down to the middle of the image*/
    color: var(--projects-title-color);
    /* background-image: url(img/tipcalculator.jpg); */
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 280px;
}

/* Allows for background to be tinted while on hover */
.project-display-javascript-calculator:hover{
    background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)), url(img/calculatorjs.JPG);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

.project-display-portfolio{
    background: linear-gradient(to right, rgb(29, 43, 100, .5), rgb(248, 205, 218, .5)), url(img/otherportfolio.JPG);
    box-sizing: border-box;
    padding-top: 20%;/*Had to add this to bring <h2>s down to the middle of the image*/
    color: var(--projects-title-color);
    /* background-image: url(img/tipcalculator.jpg); */
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 280px;
}

.project-display-portfolio:hover{
    background: linear-gradient(to right, rgb(29, 43, 100, .7), rgb(248, 205, 218, .7)), url(img/otherportfolio.JPG);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

.contact-info{
    text-align: left;
}

.projects-container .container{
    padding: 0;
    overflow: hidden;
}


.animation{
    animation-name: hide;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes hide {
   0%{opacity: 1.0;} 
   25%{opacity: .75;} 
   50%{opacity: .50;} 
   75%{opacity: .25;} 
   100%{opacity: 0.0;
        display: none;} 
}

@media screen and (min-width: 769px){
    .header-container{
        margin: 0 auto;
        padding: 5% 10%;
        display: flex;
        width: 80%;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        border: none;
    }

    .name{
        max-width: 100%;
    }

    .self{
        max-width: 50%;
        max-height: 150px;
        margin: 0;
    }
}

@media screen and (max-width: 1200px){
    .repolink{
        display: inline;
    }
}

@media screen and (min-width: 1200px){

    section{
        margin: 0em 5em;
    }

    .main-container{
        box-sizing: border-box;
        margin: 1em auto;
        max-width: 1200px;
    }

    .header-container{
        max-height: 9%;
        padding: 1%;
    }

    .self{
        max-width: 30%;
    }

    #sectiontag{
        padding: 0;
        margin: 0 auto;
    }

    .grid{
        display: grid;
        grid-template-rows: 1fr minmax(200px, .7fr);
        grid-template-columns: 1fr 1fr;
    }

    .flex{
        display: flex;
        box-sizing: border-box;
        justify-content: space-evenly;
    }

    .flex-item{
        order: 2;
        width: 50%;
        padding:0;
    }   
    
    .container{
        /* height: 75%; */
        box-sizing: content-box;
        margin: 1%;
        
    }

    .container img{
        padding: 0;
    }

    .container .flex{
        /* grid-column-start: 1;
        grid-column-end: span 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr; */  
        padding: 0;
    }

    .mylinks{
        grid-column-start: 1;
        grid-column-end: span 2;
        padding: 0;
    }

    .mylinks div{
        padding: 0;
    }

    .projects-container .container{
        width: 33%;
    }
    /* .project-display-tip-calculator{
        width: 33%;
    }
    
    .project-display-javascript-calculator{
        width: 33%;
    }

    .project-display-portfolio{
        width: 33%;
    } */
    
}

